NEXT_PUBLIC_BASE_API=http://localhost:5000/api/v1
NEXT_PUBLIC_SOCKET_API=http://localhost:5000
NEXT_PUBLIC_IMGBB_API_URL= imgbb api
NEXT_PUBLIC_RECAPTCHA_CLIENT_KEY= google recpatcha client key
NEXT_PUBLIC_RECAPTCHA_SERVER_KEY= google recaptcha server key
EDGE_STORE_ACCESS_KEY= edge store access key
EDGE_STORE_SECRET_KEY= edge store secret key
NEXT_PUBLIC_SERVICE_ID= email js service id
NEXT_PUBLIC_TEMPLATE_ID= email js template id
NEXT_PUBLIC_PUBLIC_KEY= email js punlic key

